{% extends 'base.html' %}


{% block content %}


<div class="container mt-4">

    <div class="row">

        <div class="col-md-5">

            {% if restaurant.image %}

            <img 
            src="{{ restaurant.image.url }}"
            class="img-fluid rounded"
            >

            {% endif %}

        </div>


        <div class="col-md-7">

            <h1>
                {{ restaurant.name }}
            </h1>


            <p>
                {{ restaurant.description }}
            </p>


            <p>
                📍 {{ restaurant.address }}
            </p>


            <p>
                ⭐ {{ restaurant.rating }}
            </p>


            <hr>

            <h3 class="mt-4">
                Menu
            </h3>


{% for item in menu_items %}

<div class="card shadow mb-3">

    <div class="card-body">

        <h4>
            {{ item.name }}
        </h4>


        <p>
            {{ item.description }}
        </p>


        <h5>
            ${{ item.price }}
        </h5>


        <button class="btn btn-primary">
            Order
        </button>


    </div>

</div>


        {% empty %}

        <p>
        No menu items available.
        </p>


        {% endfor %}
{% endblock %}